@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

// Import date-picker and calendar styles from CoreUI Pro
@use "@coreui/coreui-pro/scss/calendar";
@use "@coreui/coreui-pro/scss/date-picker";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}


// ===================================================================================================================//
// ========= START CUSTOM STYLES =====================================================================================//
// ===================================================================================================================//

.no-border-last > tbody > tr:last-child > td {
  border-bottom: none !important;
}

.text-link {
  cursor: default;
  color: inherit;
  text-decoration: none;
}
.text-link-active {
  cursor: pointer;
  color: #0d6efd;
  text-decoration: none;
}

.row-cell-center-50 {
  width: 52px;
  display: flex !important;
  justify-content: center !important;
}
.row-cell-center-50 img {
  max-width: 50px;
  max-height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.child-background-danger > * {
  background-color: #f9d4d4 !important;
}

.wallet-adapter-modal {
  z-index: 10000 !important;
}
